.nav__burger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 3%;
  z-index: 10;

  border: 0;
  background: rgba(255, 255, 0, 0);

  outline: none;

  @media(min-width: $pre-desktop-width) {
    display: none;
  }

}

.nav__burger--closed {

  &:before, &:after {
    content: '';
    position: absolute;
    left: 5%;

    height: 4px;
    background-color: $color-black;
    border-radius: 20px;

    @media(max-width: $mobile-width) {
      background-color: $color-white;
    }
  }

  &:before {
    top: 4px;
    width: 90%;

    box-shadow: 0 9px 0 $color-black;

    @media(max-width: $mobile-width) {
      box-shadow: 0 9px 0 $color-white;
    }
  }
  &:after {
    /*content: '';
    position: absolute;
    left: 5%;*/
    top: 22px;


    width: 70%;
    /*height: 4px;
    background-color: $color-black;*/

  }
}

.nav__burger--opend {

  &:before, &:after {
    content: '';
    position: absolute;
    top: 45%;
    left: 5%;

    width: 90%;
    height: 4px;
    background-color: $color-black;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
