.nav__burger {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 16px;
  right: 3%;
  z-index: 2;

  border: 0;
  background: rgba(255, 255, 0, 0);

  @media(min-width: $pre-desktop-width) {
    display: none;
  }


}

.nav__burger--closed {

  &:before, &:after {
    content: '';
    position: absolute;
    left: 5%;

    height: 4px;
    background-color: $color-black;
    border-radius: 20px;
  }

  &:before {
    /*content: '';
    position: absolute;*/
    top: 4px;
    /*left: 5%;*/


    width: 90%;
    /*height: 4px;
    background-color: $color-black;
    border-radius: 20px;*/

    box-shadow: 0 9px 0 $color-black,
                /*0 18px 0 #81B3D2;*/
  }
  &:after {
    /*content: '';
    position: absolute;
    left: 5%;*/
    top: 22px;


    width: 70%;
    /*height: 4px;
    background-color: $color-black;*/

  }
}

.nav__burger--opend {

  &:before, &:after {
    content: '';
    position: absolute;
    top: 45%;
    left: 5%;

    width: 90%;
    height: 4px;
    background-color: $color-black;
  }

  &:before {
    transform: rotate(45deg);
  }

  &:after {
    transform: rotate(-45deg);
  }
}
