.btn {
  display: block;

  max-width: 100%;

  text-decoration: none;

  border: 1px solid #FF9514;
  border-radius: 40px;
  background-color: #FFF;
  padding: 12px 24px;
  color: #FF9514;

  outline: none;

  &:hover {
    background: #111111;
    color: #fff;
    border: 1px solid #111111;
  }

  &:active {
    background: #575757;
    color: #FFFFFF;
    border: 1px solid #575757;
  }

  @media(min-width: $tablet-width) {
    /*padding: 14px 120px;*/
  }
}

.btn--primary {
  color: #FFFFFF;
  background-color: #FF9514;
}

.btn--disabled {
  color: #FFFFFF;
  background: rgba(255, 149, 20, 0.4);

}
