@import 'variables.scss';

.car {
  width: 100%;
  height: 473px;
  background-color: $color-black;

  display: flex;
  /*justify-content: space-around;*/
  justify-content: flex-end;
  position: relative;
}

.car__info {
  color: $color-white;
  position: absolute;
  z-index: 2;
  left: 5%;
  top: 5%;
  width: 40%;

  @media (min-width: $desktop-width) {
    min-width: 585px;
  }

}

.car__title {
  font-family: Nekst-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;
}

.car__descrition {
  font-family: Nekst-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;

  @media (min-width: $tablet-width) and (max-width: $desktop-width) {
    display: none;
  }
}

@media (min-width: $tablet-width) and (max-width: $desktop-width) {
    .car__info {
      top: 40%;
    }
    .car__title {
      margin: 20px 0;
    }
    .car__descrition {
      display: none;
    }
}

.car__btn {
  margin-top: 24px;
}

.car__carousel {

}
