.item__low-anim {
  transition: transform 1s;
}
.item__fast-anim {
  transition: transform 0s;
}

.hide {
  transform: translatex(100%);
}



.carousel__poitns {
  display: flex;
  align-items: center;

  list-style: none;
  padding: 0;
  margin: 0;

  position: absolute;
  z-index: 5;

  bottom: 10%;
  left: 50%;


  @media (min-width: $desktop-width) and (max-width: $high-desktop-width) {
    left: 50%;
  }

  @media (max-width: $mobile-width) {
    bottom: 24px;
  }
}

.carousel__item-point {
  width: 6px;
  height: 6px;

  margin-right: 10px;

  border-radius: 30px;
  background-color: #FFF;
  opacity: 0.4;
}

.carousel__item-point--select {
  width: 12px;
  height: 12px;
  opacity: 1;
}

.carousel-wrapper {
  @media (max-width: $mobile-width) {
    position: absolute;
    height: 550px;
    width: 100%;
    left: 0;
    top: 0;
    z-index: -1;
  }

}

.carousel {
  position: relative;
  overflow: hidden;
  height: 473px;

  border-radius: 32px;

  @media (max-width: $mobile-width) {
    border-radius: 0px 0px 32px 32px;
    height: 550px;
  }
}

.carousel__btn {
  margin-top: 24px;

  padding-left: 35px;
  padding-right: 35px;

  @media (max-width: $pre-desktop-width) {
    margin-top: 32px;
  }
}

.carousel__slide-btns {
  position: absolute;
  z-index: 5;

  right: 5%;
  bottom: 10%;

   @media (max-width: $pre-desktop-width) {
      display: none;
   }
}

.carousel__slide-btn {
  opacity: 0.3;

  width: 24px;
  height: 24px;

  outline:none;
  background-color: transparent;
  border: 2px solid #FFFFFF;
  border-radius: 50%;

  position: relative;

  &:before, &:after {
    content: '';
    position: absolute;
    background-color: $color-white;
  }
}

.carousel__slide-btn--prev {
  &:before, &:after {
    left: 25%;

    height: 2px;
    width: 8px;
    background-color: $color-white;
    border-radius: 20px;
  }

  &:after {
    transform: rotate(-45deg);
    top: 30%;
  }

  &:before {
    transform: rotate(45deg);
    bottom: 30%;
  }
}

.carousel__slide-btn--next {
  width: 48px;
  height: 48px;

  &:before, &:after {
    left: 37%;

    height: 2px;
    width: 12px;
    background-color: $color-white;
    border-radius: 20px;
  }

  &:after {
    transform: rotate(45deg);
    top: 40%;
  }

  &:before {
    transform: rotate(-45deg);
    bottom: 40%;
  }
}

/**/
.prev {
  transform: rotate(180deg);
}



.item {
  position: absolute;

  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  /*align-items: center;*/

  height: 100%;
  width: 100%;

  background: $color-black;

  @media (max-width: $pre-desktop-width) {
    align-items: flex-start;
    justify-content: normal;
  }
}

.item__info {
  position: absolute;
  left: 70px;
  top: 70px;

  max-width: 80%;

  color: $color-white;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    top: 45%;
    left: 44px;
  }

  @media (max-width: $mobile-width) {
    left: 20px;
    /*top: 54%;*/
    top: 48%;
    max-width: 95%;
  }
}


.item__title {
  margin: 0;
  margin-bottom: 32px;

  display: block;

  font-family: Nekst;
  font-style: normal;
  font-weight: 900;
  font-size: 54px;
  line-height: 90%;

  white-space: pre-line;

  max-width: 470px;

  @media (max-width: $mobile-width) {
    font-size: 32px;
    max-width: 260px;
  }
}

.item__descrition {
  font-family: Nekst-Black;
  font-style: normal;
  font-weight: 900;
  font-size: 30px;
  line-height: 36px;

  @media (max-width: $pre-desktop-width) {
    display: none;
  }
}

.item__img {
  max-width: 100%;
  vertical-align: bottom;

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    margin-left: 15%;
  }
}

