@font-face {
  font-family: 'Gilroy';
  font-weight: 400;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/Gilroy-Regular.woff') format('woff');
  src: url('../fonts/Gilroy-Regular.woff2') format('woff2')
}

@font-face {
  font-family: 'Gilroy';
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  src: url('../fonts/Gilroy-Bold.woff') format('woff');
  src: url('../fonts/Gilroy-Bold.woff2') format('woff2')
}

@font-face {
  font-family: 'Nekst';
  font-weight: 400;
  font-style: normal;
  src: url('../fonts/Nekst-Regular.otf') format('opentype')
}

@font-face {
  font-family: 'Nekst';
  font-weight: 900;
  font-style: normal;
  src: url('../fonts/Nekst-Black.otf') format('opentype')
}
