@import 'variables.scss';
@import 'burger.scss';
@import 'button.scss';

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 93%;
  margin: 21px auto;

  @media (min-width: $desktop-width) and (max-width: $pre-high-desktop-width) {
    margin-top: 24px;
  }

  @media (min-width: $tablet-width) and (max-width: $pre-desktop-width) {
    margin: 16px auto;
  }
}

.nav__logo-wrapper {
  display: flex;
  position: relative;
}


.nav__text {
  position: relative;

  line-height: 150%;

  letter-spacing: 0.92px;
  color: rgba(17, 17, 17, 0.5);

  margin-left: 34px;

  &:before {
    content: '';
    position: absolute;
    width: 1px;
    height: 30px;
    background-color: #C4C4C4;

    transform: translateX(50%);
    left: -17px;
  }

  @media (max-width: $mobile-width) {
    display: none;
  }
}


.menu {
  list-style: none;
  padding: 0;
  margin: 0;

  display: flex;
  justify-content: space-between;
  align-items: center;

  max-width: 60%;

  @media(max-width: $pre-desktop-width) {
    display: none;
  }

  @media(max-width: $tablet-width) {
    max-width: 90%;
  }
}


.menu__list--opened {
  @media(max-width: $pre-desktop-width) {
    display: block;

    box-sizing: border-box;

    width: 45%;

    background-color: $color-white;
    border-radius: 32px 0px 0px 0px;

    padding-top: 64px;
    padding-left: 44px;

    position: absolute;
    right: 0;
    top: 0;
    height: 100vh;
    z-index: 6;

    & .dropdown {
      margin-bottom: 32px;
    }
  }
  @media(max-width: $mobile-width) {
    width: 81%;
  }
}

.menu__button {
  @media(max-width: $pre-desktop-width) {
    position: absolute;
    top: 80vh;
    right: 50%;
    transform: translatex(50%);
    margin: 0 auto;
  }
}

.nav__item:not(:last-child) {
  /*margin-right: 30px;*/
}



.menu__item {
  &:not(:last-child) {
    padding: 6px 16px;
  }

  &:hover {
    background: #F3F3F4;
    cursor: pointer;
    border-radius: 8px;
  }
}

.nav__item:last-child {
  margin-left: 24px;
  background: #fff;
}
.menu__link {
  font-weight: bold;
  line-height: 24px;
  color: $color-gray;
}

