@import 'fonts.scss';
@import 'variables.scss';
@import 'nav-menu.scss';
@import 'main.scss';




.visualy-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  margin: 0;

  font-family: PT Sans;

  color: $color-gray;
}

p {
  margin: 0;
}
