$mobile-width: 767px;
$tablet-width: 768px;
$desktop-width: 1024px;
$pre-desktop-width: 1023px;
$pre-high-desktop-width: 1439px;
$high-desktop-width: 1440px;

$color-white: #fff;
$color-black: #000;
$color-gray: #575757;


$range-color: #ff9514;
$range-slider-height: 20px;
$range-slider-width: 20px;
$range-track-height: 2px;


$time-anim: 10s;
