
/*@import "header";
@import "formula";
@import "toolbar";
@import "table";
@import "dashboard";*/

$font-size: 5rem;
$font-color: lch(53 105 40);

html {
    font-size: $font-size;
    color: $font-color;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/*body {
  font-family: 'Roboto', sans-serif;
  font-size: 12px;
}*/

.excel {
  position: relative;
  color: #888;
  height: 100%;
  max-width: 100%;
  font-size: .8rem;
}
